
@{
    ViewBag.Title = "Cosmos";
}

<h2>Constelacion</h2>


<h2>Gestión de Constelaciones</h2>
<hr />

<div id="contenedor">

    <table border="0">
        <tr>
            <th>Siglo</th>
            <td>
                <input type="text" id="txtSiglo" placeholder="Siglo de descubrimiento">
            </td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>
               
                <input type="text" id="txtNombre" placeholder="Nombre de la constelación">            
            </td>
        </tr>
        <tr>
            <th></th>
            <td>
                <button id="btnGuardar" type="submit" onclick="Guardar()">Guardar</button> |
                <button id="btnMostrarLista" type="submit" onclick="MostrarLista()">Mostrar Lista</button>  |
                <button id="btnLimpiar" type="submit" onclick="LimpiarLista()">Limpiar Lista</button>
            </td>
        </tr>
    </table>
    <div id="DivLista"> </div>

</div>

<hr />

<a href="/Home/Index">INDEX...</a>
<hr />

<script>

    class MiObjeto {
        Siglo;
        Nombre;

        Fill(sig, nom) {
            this.Siglo = sig;
            this.Nombre = nom;
        }
    }

    var lista = [];
    var ilista = 0;

    function Guardar() {
        var siglo = document.getElementById('txtSiglo').value;
        var Nombre = document.getElementById('txtNombre').value;
        if (siglo != "" && Nombre != "") {
            var o = new MiObjeto();
            o.Fill(siglo, Nombre);
            lista.push(o);
            ilista++;
            $("#txtSiglo").val("");
            $("#txtNombre").val("");
        }
    }

    function MostrarLista() {

        if (lista.length > 0) {
            limpiar();
            var html = '';
            //html += 'Lista de Objetos';
            //html += '<ul >'
            for (var i = 0; i < lista.length; i++) {
                html += 'Siglo:' + lista[i].Siglo + " - " +  'Nombre: ' + lista[i].Nombre + '' + "<br />";
            }

            //html += '</ul>';

            $('#DivLista').append(html);
        }

    }

    function LimpiarLista() {
        lista = [];
        limpiar();
    }

    function limpiar() {
        const el = document.getElementById('DivLista');
        while (el.firstChild)
            el.removeChild(el.firstChild);
    }
</script>
@section scripts
{


}


